<html>
  <head>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/static/print.css">

    <title>ToDoList</title>

    <style>
      ul#menu li {
          display:inline;
      }
      td {

        max-width: 120px;

        overflow: hidden;

        text-overflow: ellipsis;

        white-space: nowrap;

        }
    </style>
      <script type="text/javascript">
function getTime() {

    var dateObj = new Date();

    var year = dateObj.getFullYear();//年
    var month = dateObj.getMonth()+1;//月  (注意：月份+1)
    var date = dateObj.getDate();//日
    var day = dateObj.getDay();
    var weeks = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"];
    var week = weeks[day];//根据day值，获取星期数组中的星期数。
    var hours = dateObj.getHours();//小时
    var minutes = dateObj.getMinutes();//分钟
    var seconds = dateObj.getSeconds();//秒

    if(month<10){
        month = "0"+month;
    }
    if(date<10){
        date = "0"+date;
    }
    if(hours<10){
        hours = "0"+hours;
    }
    if(minutes<10){
        minutes = "0"+minutes;
    }
    if(seconds<10){
        seconds = "0"+seconds;
    }

    var newDate = year+"-"+month+"-"+date+"  "+hours+":"+minutes+":"+seconds+"&nbsp &nbsp"+week;
    document.getElementById("date1").innerHTML = "Now：" + newDate;//在div中写入时间
    setTimeout('getTime()', 500);//每隔500ms执行一次getTime()
}
</script>
  </head>
  <body onload="getTime()">
    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
    </div>
    <ul class="nav navbar-nav">
      <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Task
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/task">View Task</a></li>
            <li><a href="/create_task">Create Task</a></li>
          </ul>
      </li>
      <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Statistics
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/finished_task">Finished</a></li>
            <li><a href="/unfinished_task">Unfinished</a></li>
          </ul>
      </li>
    </ul>
    <form method="post" class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" name="search_str" placeholder="search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
    <ul class="nav navbar-nav navbar-right">
    <li><a href="/"><span class="glyphicon glyphicon-remove"></span> </a></li>
</ul>
  </div>
</nav>
    <div class="container-fluid">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        {% with messages = get_flashed_messages() %}
          {% if messages %}

            {% for message in messages %}
            <div class="alert alert-warning">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                  <strong>Error!</strong> {{ message }}
            </div>
            {% endfor %}

          {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>

    <footer class="footer navbar-fixed-bottom">
    <div class="container text-center" >
              <div id="date1"></div>
    </div>
</footer>


  </body>
</html>
